<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901953214815-h2hrt0ki98i6opiodhvklf693vov1m1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901953214815-h2hrt0ki98i6opiodhvklf693vov1m1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAJe6WIScad7d7Q5KDPDhgj-fS4mmC2Lrs</string>
	<key>GCM_SENDER_ID</key>
	<string>901953214815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tl.yourfamily.YourFamily</string>
	<key>PROJECT_ID</key>
	<string>yourfamily-562e9</string>
	<key>STORAGE_BUCKET</key>
	<string>yourfamily-562e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901953214815:ios:6190248d7f2cd6d04e3eea</string>
</dict>
</plist>